In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [13]:
pf =pd.read_csv('homeprices.csv')
pf

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [18]:
#We are gonna fill the missing value of bedroom in row 2
import math
median_bedrooms=math.floor(pf.bedrooms.median())
median_bedrooms

4

In [20]:
pf.bedrooms= pf.bedrooms.fillna(median_bedrooms)

In [21]:
pf

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [23]:
reg= linear_model.LinearRegression()
reg.fit(pf[['area','bedrooms','age']],pf['price'])

LinearRegression()

In [24]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [26]:
reg.intercept_

221323.00186540408

In [28]:
reg.predict([[3000,3,40]])

array([498408.25158031])